.about {
  @include transition(all 1s ease);
  overflow: hidden;
  height: 0;
  background-color: #F4F4F0;
  text-align: center;
  color: #44484D;
  
  @media only screen and (max-width: $mobile) {
    display: none;
    height: auto;
    padding-top: 50px;
    border-bottom: 25px solid $blue;
    
    &.expanded-mobile {
      display: block;
    }
    
    > .container {
      width: 90%;
      margin: 0 5%;
    }
  }
  
  &.expanded {
    height: 1180px;
    padding: 80px 0 0 0;
  }
}

.about-heading {
  margin-bottom: 80px;
  font-weight: 900;
  font-size: 20px;
  letter-spacing: 4pt;
  text-transform: uppercase;
  
  @media only screen and (max-width: $mobile) {
    margin-bottom: 60px;
  }
}

.joke-start,
.joke-strikethrough,
.joke-end {
  font-weight: 900;
  font-size: 40px;
  letter-spacing: 10px;
  line-height: 49px;
  text-transform: uppercase;
  color: $blue;
  
  @media only screen and (max-width: $mobile) {
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 3px;
  }
}

.joke-strikethrough {
  position: relative;
  display: inline-block;
  
  &::after {
    content: "";
    position: absolute;
    top: 18px;
    left: 0;
    display: block;
    opacity: .9;
    @include size(100% 7px);
    background-color: #6D6E71;
    
    @media only screen and (max-width: $mobile) {
      top: 8px;
      height: 3px;
    }
  }
}

.joke-start {
  margin-bottom: 50px;
  
  @media only screen and (max-width: $mobile) {
    margin-bottom: 30px;
  }
}

.joke-end {
  margin-top: 50px;
  
  @media only screen and (max-width: $mobile) {
    margin-top: 30px;
  }
}

.mission {
  margin: 80px 0;
  font-size: 13px;
  line-height: 29px;
  font-weight: 300;
  font-size: 16px;
  color: #44484D;
  
  @media only screen and (max-width: $mobile) {
    margin-top: 40px;
  
    br {
      display: none;
    }
  }
}

.face {
  margin-bottom: 120px;
  
  @media only screen and (max-width: $mobile) {
    margin-bottom: 80px;
  }
}