.search-results {
  @include clearfix;
  overflow: hidden;
  @include transition(all 1.0s ease);
  height: 0;
  
  &.expanded {
    height: 2125px;
    padding: 20px 0 50px 0;
  }
}

.search-list {
  overflow: hidden;
  @include size(600px auto);
  margin: 0 auto;
  padding-left: 0;
  list-style: none;
  
  li {
    overflow: hidden;
    position: relative;
    @include transition(all 0.5s ease-in-out);
    @include clearfix;
    @include size(100% 35px);
    margin-bottom: 10px;
    
    &.not-match {
      margin-bottom: 0px;
      height: 0;
    }
  }
  
  .inline-copy {
    display: block;
  }
}