// color vars

$blue: #26C7D5;
$orange: #E46C17;

// normalize

@import "normalize";

// bourbon.io

@import "bourbon/bourbon";

// box sizing

*,
*:before,
*:after {
  @include box-sizing(border-box);
  margin: 0;
}

// globals

body {
  font-family: 'brandon-grotesque';
  font-weight: normal;
  font-size: 14px;
}

a {
  text-decoration: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

// partials

@import "layout";
@import "header";
@import "menu";
@import "badge";
@import "copy";
@import "search-results";
@import "inline-copy";
@import "footer";

@import "404";
@import "about";