<section class="badges">
  
  <div class="badge">
    <div class="container">
      <img src="images/badge-cats.svg">
      <a class="copy imageurl royal" data-clipboard-text="Copy imageurl"></a>
      <a class="copy markdown royal" data-clipboard-text="Copy markdown"></a>
    </div>
  </div>

  <div class="badge">
    <div class="container">
      <img src="images/badge-electricity.svg">
      <a class="copy imageurl white" data-clipboard-text="Copy imageurl"></a>
      <a class="copy markdown white" data-clipboard-text="Copy markdown"></a>
    </div>
  </div>
  
  <div class="badge">
    <div class="container">
      <img src="images/badge-gluten.svg">
      <a class="copy imageurl white" data-clipboard-text="Copy imageurl"></a>
      <a class="copy markdown white" data-clipboard-text="Copy markdown"></a>
    </div>
  </div>
  
  <div class="badge">
    <div class="container">
      <img src="images/badge-killem.svg">
      <a class="copy imageurl navy" data-clipboard-text="Copy imageurl"></a>
      <a class="copy markdown navy" data-clipboard-text="Copy markdown"></a>
    </div>
  </div>
  
  <div class="badge">
    <div class="container">
      <img src="images/badge-love.svg">
      <a class="copy imageurl white" data-clipboard-text="Copy imageurl"></a>
      <a class="copy markdown white" data-clipboard-text="Copy markdown"></a>
    </div>
  </div>
  
  <div class="badge">
    <div class="container">
      <img src="images/badge-html.svg">
      <a class="copy imageurl cyan" data-clipboard-text="Copy imageurl"></a>
      <a class="copy markdown cyan" data-clipboard-text="Copy markdown"></a>
    </div>
  </div>
  
  <div class="badge">
    <div class="container">
      <img src="images/badge-shipit.svg">
      <a class="copy imageurl navy" data-clipboard-text="Copy imageurl"></a>
      <a class="copy markdown navy" data-clipboard-text="Copy markdown"></a>
    </div>
  </div>
  
  <div class="badge">
    <div class="container">
      <img src="images/badge-badges.svg">
      <a class="copy imageurl white" data-clipboard-text="Copy imageurl"></a>
      <a class="copy markdown white" data-clipboard-text="Copy markdown"></a>
    </div>
  </div>
  
  <div class="badge">
    <div class="container">
      <img src="images/badge-betamax.svg">
      <a class="copy imageurl white" data-clipboard-text="Copy imageurl"></a>
      <a class="copy markdown white" data-clipboard-text="Copy markdown"></a>
    </div>
  </div>
  
  <div class="badge">
    <div class="container">
      <img src="images/badge-crayons.svg">
      <a class="copy imageurl navy" data-clipboard-text="Copy imageurl"></a>
      <a class="copy markdown navy" data-clipboard-text="Copy markdown"></a>
    </div>
  </div>
  
</section><!-- END badges -->