<section class="badges">

  <div class="badge">
    <div class="container">
      <img src="images/badge-shipit.svg">
      <a class="copy imageurl navy" data-clipboard-text="http://forthebadge.com/badges/fuck-it-ship-it.svg"></a>
      <a class="copy markdown navy" data-clipboard-text="[![forthebadge](http://forthebadge.com/badges/fuck-it-ship-it.svg)](http://forthebadge.com)"></a>
    </div>
  </div>
  
  <div class="badge">
    <div class="container">
      <img src="images/badge-electricity.svg">
      <a class="copy imageurl white" data-clipboard-text="http://forthebadge.com/badges/powered-by-electricity.svg"></a>
      <a class="copy markdown white" data-clipboard-text="[![forthebadge](http://forthebadge.com/badges/powered-by-electricity.svg)](http://forthebadge.com)"></a>
    </div>
  </div>
  
  <div class="badge">
    <div class="container">
      <img src="images/badge-gluten.svg">
      <a class="copy imageurl white" data-clipboard-text="http://forthebadge.com/badges/gluten-free.svg"></a>
      <a class="copy markdown white" data-clipboard-text="[![forthebadge](http://forthebadge.com/badges/gluten-free.svg)](http://forthebadge.com)"></a>
    </div>
  </div>

  <div class="badge">
    <div class="container">
      <img src="images/badge-killem.svg">
      <a class="copy imageurl navy" data-clipboard-text="http://forthebadge.com/badges/oooo-kill-em.svg"></a>
      <a class="copy markdown navy" data-clipboard-text="[![forthebadge](http://forthebadge.com/badges/oooo-kill-em.svg)](http://forthebadge.com)"></a>
    </div>
  </div>
  
  <div class="badge">
    <div class="container">
      <img src="images/badge-love.svg">
      <a class="copy imageurl white" data-clipboard-text="http://forthebadge.com/badges/built-with-love.svg"></a>
      <a class="copy markdown white" data-clipboard-text="[![forthebadge](http://forthebadge.com/badges/built-with-love.svg)](http://forthebadge.com)"></a>
    </div>
  </div>
  
  <div class="badge">
    <div class="container">
      <img src="images/badge-html.svg">
      <a class="copy imageurl cyan" data-clipboard-text="http://forthebadge.com/badges/uses-html.svg"></a>
      <a class="copy markdown cyan" data-clipboard-text="[![forthebadge](http://forthebadge.com/badges/uses-html.svg)](http://forthebadge.com)"></a>
    </div>
  </div>
  <div class="badge">
    <div class="container">
      <img src="images/badge-cats.svg">
      <a class="copy imageurl royal" data-clipboard-text="http://forthebadge.com/badges/contains-cat-gifs.svg"></a>
      <a class="copy markdown royal" data-clipboard-text="[![forthebadge](http://forthebadge.com/badges/contains-cat-gifs.svg)](http://forthebadge.com)"></a>
    </div>
  </div>

    
  <div class="badge">
    <div class="container">
      <img src="images/badge-badges.svg">
      <a class="copy imageurl white" data-clipboard-text="http://forthebadge.com/badges/uses-badges.svg"></a>
      <a class="copy markdown white" data-clipboard-text="[![forthebadge](http://forthebadge.com/badges/uses-badges.svg)](http://forthebadge.com)"></a>
    </div>
  </div>
  
  <div class="badge">
    <div class="container">
      <img src="images/badge-betamax.svg">
      <a class="copy imageurl white" data-clipboard-text="http://forthebadge.com/badges/compatability-betamax.svg"></a>
      <a class="copy markdown white" data-clipboard-text="[![forthebadge](http://forthebadge.com/badges/compatability-betamax.svg)](http://forthebadge.com)"></a>
    </div>
  </div>
  
  <div class="badge">
    <div class="container">
      <img src="images/badge-crayons.svg">
      <a class="copy imageurl navy" data-clipboard-text="http://forthebadge.com/badges/made-with-crayons.svg"></a>
      <a class="copy markdown navy" data-clipboard-text="[![forthebadge](http://forthebadge.com/badges/made-with-crayons.svg)](http://forthebadge.com)"></a>
    </div>
  </div>

</section><!-- END badges -->
