<section class="badges">
  
  <div class="badge">
    <div class="container">
      <img src="badges/fuck-it-ship-it.svg">
      <a class="copy imageurl navy" data-clipboard-text="http://forthebadge.com/badges/fuck-it-ship-it.svg>"</a>
      <a class="copy markdown navy" data-clipboard-text="Copy markdown"></a>
    </div>
  </div>
  
  <div class="badge">
    <div class="container">
      <img src="badges/gluten-free.svg">
      <a class="copy imageurl royal" data-clipboard-text="http://forthebadge.com/badges/gluten-free.svg>"</a>
      <a class="copy markdown royal" data-clipboard-text="Copy markdown"></a>
    </div>
  </div>
  
  <div class="badge">
    <div class="container">
      <img src="badges/powered-by-electricity.svg">
      <a class="copy imageurl white" data-clipboard-text="http://forthebadge.com/badges/powered-by-electricity.svg>"</a>
      <a class="copy markdown white" data-clipboard-text="Copy markdown"></a>
    </div>
  </div>

  <div class="badge">
    <div class="container">
      <img src="badges/no-ragrets.svg">
      <a class="copy imageurl navy" data-clipboard-text="http://forthebadge.com/badges/no-ragrets.svg>"</a>
      <a class="copy markdown navy" data-clipboard-text="Copy markdown"></a>
    </div>
  </div>
  
  <div class="badge">
    <div class="container">
      <img src="badges/uses-badges.svg">
      <a class="copy imageurl royal" data-clipboard-text="http://forthebadge.com/badges/uses-badges.svg>"</a>
      <a class="copy markdown royal" data-clipboard-text="Copy markdown"></a>
    </div>
  </div>
  
  <div class="badge">
    <div class="container">
      <img src="badges/contains-cat-gifs.svg">
      <a class="copy imageurl white" data-clipboard-text="http://forthebadge.com/badges/contains-cat-gifs.svg>"</a>
      <a class="copy markdown white" data-clipboard-text="Copy markdown"></a>
    </div>
  </div>
  
  <div class="badge">
    <div class="container">
      <img src="badges/as-seen-on-tv.svg">
      <a class="copy imageurl cyan" data-clipboard-text="http://forthebadge.com/badges/badges/as-seen-on-tv.svg>"</a>
      <a class="copy markdown cyan" data-clipboard-text="Copy markdown"></a>
    </div>
  </div>
  
  
  <div class="badge">
    <div class="container">
      <img src="badges/compatability-blackberry.svg">
      <a class="copy imageurl white" data-clipboard-text="http://forthebadge.com/badges/compatability-blackberry.svg>"</a>
      <a class="copy markdown white" data-clipboard-text="Copy markdown"></a>
    </div>
  </div>
  
  <div class="badge">
    <div class="container">
      <img src="badges/oooo-kill-em.svg">
      <a class="copy imageurl white" data-clipboard-text="http://forthebadge.com/badges/oooo-kill-em.svg>"</a>
      <a class="copy markdown white" data-clipboard-text="Copy markdown"></a>
    </div>
  </div>
  
  <div class="badge">
    <div class="container">
      <img src="badges/does-not-contain-treenuts.svg">
      <a class="copy imageurl navy" data-clipboard-text="http://forthebadge.com/badges/does-not-contain-treenuts.svg>"</a>
      <a class="copy markdown navy" data-clipboard-text="Copy markdown"></a>
    </div>
  </div>

</section><!-- END badges -->