.badge {
  height: 320px;
  padding-top: 100px;
  
  img {
    display: block;
    margin: 0 auto 40px auto;
  }
  
  &:first-child {
    background-color: #F4F4F0;
  }
  
  &:nth-child(2) {
    background-color: #C1D72E;
  }
  
  &:nth-child(3) {
    background-color: #393D43;
  }
  
  &:nth-child(4) {
    background-color: #F4F4F0;
  }
  
  &:nth-child(5) {
    background-color: #FF7B00;
  }
  
  &:nth-child(6) {
    background-color: #263C4A;
  }
  
  &:nth-child(7) {
    background-color: #F4F4F0;
  }
  
  &:nth-child(8) {
    background-color: #26C7D5;
  }
  
  &:nth-child(9) {
    background-color: #EA004C;
  }

  &:last-child {
    background-color: #F4F4F0;
  }
}

.copy {
  @include transition(all 0.25s);
  overflow: hidden;
  position: relative;
  display: block;
  @include size(200px 50px);
  padding-top: 14px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1pt;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
  
  &:before,
  &:after {
    @include transition(all 0.25s);
    display: block;
    position: absolute;
    left: 0;
    @include size(100%);
    padding-top: 14px;
  }
  
  &:before {
    content: "Copy to Clipboard";
    top: 100%;
  }
  
  &:after {
    content: "";
    top: 0;
  }
  
  &.white {
    &:before {
      color: #F4F4F0;
    }
  
    &:after {
      background: url($imagePath + 'icon-clipboard-white.svg') center center no-repeat;
    }
  }
    
  &.blue {
    &:before {
      color: #26C7D5;
    }
  
    &:after {
      background: url($imagePath + 'icon-clipboard-blue.svg') center center no-repeat;
    }
  }
  
  &.zeroclipboard-is-hover {
    &:before,
    &:after {
      @include transform(translateY(-100%));
    }
  }
  
  &.zeroclipboard-is-active {
    &.white {
      background: #F4F4F0;
      opacity: 0.2;
    }
    
    &.blue {
      background: #26C7D5;
      opacity: 0.2;
    }
  }
}