head
  title For the Badge
  meta(charset="UTF-8")
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  link(rel='stylesheet', href='style.css')
  script(type='text/javascript', src='//use.typekit.net/eev6skq.js')
  script(type='text/javascript') try{Typekit.load();}catch(e){}
