.container
  p.tagline Badges for the sake of Badges
  h1.logo For the Badge
  a.down
    p.top
    p.bottom
  a.mark Mark
  a.contribute(href="https://github.com/BraveUX/forthebadge", target="_blank") Contribute
