.container
  .search
    label.search-toggle search
    input.search-input(type="search", placeholder="Start typing...")
  ul.filters
    li: a.view-all-toggle(href="#") View all
    li: a.about-toggle(href="#") About
    li: a(href="http://www.twitter.com/forthebadge" target="_blank") Twitter
