<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>For the Badge</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="//use.typekit.net/eev6skq.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="container">
          <p class="tagline">Badges for the sake of badges</p>
          <h1 class="logo">For the Badge</h1>
          <a class="down">
            <p class="top"></p>
            <p class="bottom"></p>
          </a>
          <a class="mark">Mark</a>
          <a class="contribute" href="https://github.com/BraveUX/forthebadge" target="_blank">Contribute</a>
          <a class="mobile-about">About</a>
        </div>
      </header>
      <section class="menu">
        <div class="container">
          <div class="search">
            <label class="search-toggle">Search</label>
            <input class="search-input" type="search" placeholder="Start typing...">
          </div>
          <ul class="filters">
            <li><a class="view-all-toggle" href="#">View All</a></li>
            <li><a class="about-toggle" href="#">About</a></li>
            <li><a href="http://www.twitter.com/forthebadge" target="_blank">Twitter</a></li>
          </ul>
        </div>
      </section>
      <main class="home">
        <section class="search-results">
          <ul class="search-list">
            <% for (var i=0; i< badges.length; i++) { %>
              <li data-search="<%= badges[i].badgeName %>">
                <img src="<%= badges[i].badgeSrc %>" >
                <a class="inline-copy markdown" data-clipboard-text="<%= badges[i].badgeMrkdn %>"></a>
                <a class="inline-copy imageurl" data-clipboard-text="<%= badges[i].badgeUrl %>"></a>
              </li>
            <% } %>
          </ul>
        </section>
        <section class="about">
          <div class="container">
            <p class="about-heading">About</p>
            <p class="joke-start">For the Badge is a</p>
            <p class="joke-strikethrough">Grassroots Movement</p>
            <p class="joke-strikethrough">Scientific Endeavor</p>
            <p class="joke-strikethrough">Humanitarian Society</p>
            <p class="joke-strikethrough">Literary Masterpiece</p>
            <p class="joke-strikethrough">Knitting Club</p>
            <p class="joke-end">Complete Joke.</p>
            <p class="mission">We don&rsquo;t develop for the money, power, fame, or codebabes. We do it <strong>For the Badge</strong>.
            <br>It all started because of an obsession with two words: &ldquo;build passing&rdquo;.
            <br>It all ended with this: <em>badges, for badges&rsquo; sake.</em></p>
            <img class="face" src="images/face.svg">
          </div>
        </section>

        <% include featured %>

      </main>
      <hr>
      <footer>
        <div class="container">
          <a class="view-all" href="#">View All</a>
          <a class="attr-company" href="http://www.braveux.com" target="_blank">A Brave UX Endeavor</a>
          <p class="attr-design">Designed by <a href="https://dribbble.com/cp_allen" target="_blank">CA</a></p>
          <p class="attr-dev">Built by <a href="https://github.com/callmecavs" target="_blank">MC</a> &amp; <a href="https://github.com/jacksongeller" target="_blank">Jax</a></p>
        </div>
      </footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="main.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-54613109-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>