.menu {
  height: 100px;
  background-color: white;

  @media only screen and (max-width: $mobile) {
    display: none;
  }

  > .container {
    max-width: 600px;
    position: relative;
  }
}

.search {
  position: relative;
  float: left;
  z-index: 1;

  &.expanded {
    label {
      background-image: url("images/icons/icon-close.svg");
    }

    input {
      width: 550px;
    }
  }

  label {
    @include transition(background-image 0.25s ease-in-out);
    @include hide-text;
    float: left;
    display: block;
    @include size(22px);
    margin: 40px 0 38px 0;
    background-image: url("images/icons/icon-search.svg");
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  input {
    @include transition(width .25s ease-in-out);
    @include appearance(none);
    float: left;
    @include size(0px 60px);
    padding: 20px 0;
    margin-left: 28px;
    background-color: white;
    border: none;
    font-size: 28px;
    color: #A2A4A7;
    outline: none;
    overflow: hidden;

    @include placeholder {
      color: #B7B9BB;
    }
  }
}

.filters {
  z-index: 0;
  @include clearfix;
  position: absolute;
  top: 40px;
  right: 0;
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    float: left;
    margin-right: 146px;

    &:last-child {
      margin-right: 0;

      a {
        display: block;
        @include hide-text;
        @include size(25px 20px);
        background: url("images/icons/icon-twitter.svg") center center no-repeat;
      }
    }
  }

  a {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1pt;
    color: #B7B9BB;
  }
}
