.search-results {
  @include clearfix;
  overflow: hidden;
  @include transition(all 1.0s ease);
  max-height: 0;

  &.expanded {
    margin: 20px 0 50px 0;
  }
}

.search-list {
  overflow: hidden;
  @include size(600px auto);
  margin: 0 auto;
  padding-left: 0;
  list-style: none;

  li {
    overflow: hidden;
    position: relative;
    @include transition(all 0.5s ease-in-out);
    @include clearfix;
    margin-bottom: 9px;
    height: 35px;

    &.not-match {
      margin-bottom: 0;
      height: 0;
    }
  }

  .inline-copy {
    display: block;
  }
}

.view-all-badge {
  @include size(auto 35px);
}
